# Python bytecode
*.py[cod]
__pycache__

# Cython output
src/_rtmidi.cpp

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist/
wheelhouse/
*.eggs/
eggs/
parts/
.installed.cfg
setuptools-*.tar.gz
distribute-*.tar.gz
MANIFEST

# Installer logs
pip-log.txt

# Unit test / coverage reports
.cache/
.coverage
.pytest_cache/
.tox/
nosetests.xml
htmlcov

# Translations
*.mo

# Misc IDEs
.mr.developer.cfg
.project
.pydevproject

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build
# docs build artifact
rtmidi/version.py

# Geany project
python-rtmidi.geany
