include fill_template.py
include LICENSE.txt
include Makefile
include requirements-dev.txt
include tox.ini
include *.rst
include src/_rtmidi.pyx
include src/_rtmidi.cpp
include src/rtmidi/RtMidi.cpp
include src/rtmidi/RtMidi.h

exclude .appveyor.yml
exclude .travis.yml
exclude *.rst.in

graft examples
graft tests

prune ci

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst *.inc conf.py Makefile make.bat
