include run
include *.html *.rst
include log/README.txt

recursive-include cblog/config *.cfg
recursive-include cblog/static *
recursive-include cblog/templates *.kid
recursive-include data *.sql

graft doc
graft tools

prune misc
