/*
 * Quick mash-up of CSS for the TG quick start page.
 */

html, body {
    color: black;
    background-color: #ddd;
    font: x-small "Lucida Grande", "Lucida Sans Unicode", geneva, verdana, sans-serif;
    margin: 0;
    padding: 0;
}

td, th {
    padding: 3px;
    border: none;
}

tr th {
    text-align: left;
    background-color: #c0c0c0;
    color: #333;
}

tr.odd td {
    background-color: #f0f0f0;
}
tr.even td {
    background-color:#fff;
}

/* login page */
#loginBox {
    width: 30%;
    margin: auto;
    margin-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: verdana;
    font-size: 10px;
    background-color: #eee;
    border: 2px solid #ccc;
}

#loginBox h1 {
    font-size: 42px;
    font-family: "Trebuchet MS";
    margin: 0;
    color: #ddd;
}

#loginBox p {
    position: relative;
    top: -1.5em;
    padding-left: 4em;
    font-size: 12px;
    margin: 0;
    color: #666;
}

#loginBox table {
    table-layout: fixed;
    border-spacing: 0;
    width: 100%;
}

#loginBox td.label {
    width: 33%;
    text-align: right;
}

#loginBox td.field {
    width: 66%;
}

#loginBox td.field input {
    width: 100%;
}

#loginBox td.buttons {
    text-align: right;
}

/* page elements from master template */

/*
#page-login {
    float: right;
    font-size: small;
    font-family: verdana;
    text-align: right;
}
*/

#header {
    height: 60px;
    width: 777px;
    background: #fff url(../images/header_bg_blue.png) repeat-x;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    margin: 0 auto 0 auto;
    padding: 0;
}

#header h1 {
    font-size: 220%;
    color: #fff;
    padding: .7em 3em 0 1em;
    margin: 0;
    letter-spacing: .05em;
}

#navbar {
    height: 20px;
    width: 757px;
    border: 1px solid #aaa;
    margin: 0 auto 0 auto;
    padding: 0 10px;
    background: #f3f3f3 url(../images/topnav_bg_grey.gif) bottom repeat-x;
    text-align: right;
}

#navlinks {
    list-style: none;
    margin: 0;
    padding: 0;
}

#navlinks li {
    display: block;
    float: right;
    margin: 0 .5em;
    padding: .2em 0 0 0;
}

#navbar a {
    text-decoration: none;
    color: #acdf;
}


#footer {
    border: 1px solid #aaa;
    border-top: 0px none;
    color: #999;
    background-color: white;
    padding: 2ex 10px;
    font-size: 90%;
    text-align: left;
    height: 40px;
    width: 757px;
    margin: 0 auto 1em auto;
}

#footer img {
    float: left;
    margin: 0 1em 0 0;
    padding: 0;
}

/* page elements occuring on every page */
#status_block {
    margin: 0 auto 0.5em auto;
    padding: 15px 10px 15px 55px;
    background: #f3f3f3 url(../images/topnav_bg_grey.gif) bottom repeat-x;
    border: 1px solid #aaa;
    width: 450px;
    color: #444;
    font-size: 120%;
    font-weight: bolder;
}

.breadcrumbs {
    font-size: small;
}

a.link, a, a.active {
    color: #369;
}

#main_content {
    color: black;
    font-size: 127%;
    background-color: white;
    width: 757px;
    margin: 0 auto 0 auto;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-weight: bold;
}

h2 .package-filename {
    font-size: 80%;
}

h2 {
    font-size: 150%;
}

.code {
    font-family: monospace;
}

span.code {
    font-weight: bold;
    background: #eee;
}


.fielderror {
    color: red;
    font-weight: bold;
}

.package-version {
    background: #dadada;
}

#package-list, #package-metadata, #package-files {
    width: 100%;
}

.package-modified, .pkgfile-modified {
    width: 12em;
}

.pkgfile-action {
    width: 10em;
    font-size: x-small;
    text-align: center;
}

td.pkginfo-field {
    vertical-align: top;
}

pre#package-desc {
    font-size: 108%;
    overflow-x: auto;
}

table#configuration-list {
    width: 100%;
}

#configuration-list .value,
#configuration-list .setting {
    font-family: monospace;
}

#configuration-list .setting {
    width: 20%;
}

#configuration-list .desc {
    width: 30%;
}

#configuration-list .value {
    overflow: hidden;
}

.py-traceback {
    font-size: 90%;
    overflow: auto;
}
